<%- include ../partials/head  %>
<div class="wrapper">
    <div class="skill-container">
        <div class="card skill-card">
            <h2 class="skill-title"><%= skills.name %></h2>
            <p>
                <%= skills.description %>
            </p>
            <section>
                <label for="years">Level:</label>
                <% for (let i = skills.stars; i > 0; i--){ %>
                    <i class="fas fa-star"></i>
                <%} %>
            </section>
            <section>
                <label>Exprience:</label>
                <p>
                    &nbsp;
                    <%= skills.years %>
                    years</p>
            </section>
            <section class="card-links">
                <a href="/skills">Back To Skills</a>
                <a href="/skills/<%= idx %>/edit">Edit</a>
            </section>
        </div>
    </div>
    <%- include ../partials/close %>
